.fa-trash-alt{
  color:red;
  cursor:pointer;
}

.btn-clear{
  width:100%;
  color: tan;
  border-color: tan;
  margin-bottom: 30px;
}

.btn-clear:hover{
  width:100%;
  color: red;
  border-color: red;
}

.total{
  margin-top: 10px;
  height: 60px;
  color: teal;
  background-color: transparent;
  border-color: teal;
}

.articles{
  max-height: 200px;
  overflow-y: auto;
}

.articles::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.articles::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.articles::-webkit-scrollbar-thumb {
  background-color: teal;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.trolley{
  color:teal;
  margin-top:15px;
}

.trash{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
