<app-menu></app-menu>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link auth" routerLink="/login">
              Iniciar sesión
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link auth" routerLink="/registro">Crear cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active bg-active auth" routerLink="/sendemail">¿Has olvidado la contraseña?</a>
          </li>
        </ul>
      </div>
    <div class="card-body animate__animated animate__fadeIn">
      <form #f="ngForm" (ngSubmit)="onSendEmail()" novalidate>
        <div class="form-group">
          <label for="mailTo" class="text-info text-center">Introduce tu email, en el caso que te tengamos registrado en nuestra base de datos te enviaremos un email de recuperación.</label>
          <input type="text" name="mailTo" id="mailTo" class="form-control"  [(ngModel)]="mailTo" required>
        </div>
        <div class="form-group d-flex justify-content-center">
          <button class="btn btn-outline-primary btn-block mt-3 initzializer" [disabled]="!f.valid">
            <i class="fas fa-sign-in-alt"></i>Enviar</button>
        </div>
      </form>
    </div>
    </div>
  </div>
